{% extends "base.html" %}
{% block content %}
<h1>Organizador de campeonatos</h1>
<p>Digite os nomes dos jogadores</p>
<form method="POST" action="/process/">
  <p>
      <input type="text" name="player" />
  </p>
  <p>
      <input type="text" name="player" />
  </p>
  <p>
      <input type="text" name="player" />
  </p>
  <p>
      <input type="text" name="player" />
  </p>
  <p>
      <input type="text" name="player" />
  </p>
  <p>
    <input type="text" name="player" />
  </p>
  <p>
    <input type="text" name="player" />
  </p>
  <p>
    <input type="text" name="player" />
  </p>
  <input type="submit" value="Enviar"/>
</form>
{% endblock content %}