{% extends "base.html" %} {% block content %}

<section id="index">
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h3 class="header center orange-text">Organizador de campeonatos</h3>
      <div class="row center">
        <h5 class="header col s12 light">Digite os nomes dos jogadores</h5>
      </div>
      <div class="row center">
        <form method="POST" action="/process/">
          <p>
            <input type="text" name="player" />
          </p>
          <p>
            <input type="text" name="player" />
          </p>
          <p>
            <input type="text" name="player" />
          </p>
          <p>
            <input type="text" name="player" />
          </p>
          <p>
            <input type="text" name="player" />
          </p>
          <p>
            <input type="text" name="player" />
          </p>
          <p>
            <input type="text" name="player" />
          </p>
          <p>
            <input type="text" name="player" />
          </p>

          <button type="submit" class="btn-large waves-effect waves-light orange" value="enviar">Enviar</button>
        </form>
      </div>
      <div class="container">
        <h3 class="header center orange-text">Lista de Campeonatos</h3>
        <div class="row campeonato">
          <div class="col s9">
            <p>Campeonato Intermunicipal dos Fulanos</p>
          </div>
          <div class="col s3 center-align">
            <p>Em andamento</p>
          </div>
        </div>

      </div>
      <div class="container">
        <h3 class="header center orange-text">Ranking dos jogadores</h3>
        <table>
          <thead>
            <tr>
              <th></th>
              <th class="nome-table">Nome</th>
              <th class="saldo">Vitórias</th>
              <th class="saldo">Derrotas</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1.</td>
              <td class="nome-table">Fulaninho</td>
              <td class="saldo">10</td>
              <td class="saldo">1</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</section>


{% endblock content %}